#6_2 {
	overflow:hidden;
}
#e6_2 {
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
#MenuBar {
	width:1198px;
	height:62px;
	position:fixed;
	left:2%;
	top:2%;
	z-index: 100;
}
#Team1 {
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:30px;
	position:relative;
	top:5%;
	font-family: JetBrains Mono, serif;
	text-align:left;
	font-size:200%;
	letter-spacing:0;
}
#SearchBarWhole {
	width:500px;
	height:60px;
	position:absolute;
	left:35%;
	top:0px;
}
#SearchBar {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100%;
	height:100%;
	position:absolute;
	border-radius: 30px;
}
#ProfileImage {
	width:59px;
	height:59px;
	position:absolute;
	left:100%;
	top:5%;
	background-image:url(../../images/profileimage.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#SearchImage {
	width:39px;
	height:39px;
	position:absolute;
	left: 90%;
	top: 10%;
	background-image:url(../../images/searchiconimage.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e29_91 {
	width:1198px;
	height:593px;
	position:absolute;
	left:41px;
	top:168px;
}
#e29_84 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1198px;
	height:593px;
	position:absolute;
	left:0px;
	top:0px;
}
#e29_85 {
	color:rgba(0, 0, 0, 1);
	width:1152px;
	height:53px;
	position:absolute;
	left:38px;
	top:38px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
#e29_86 {
	color:rgba(0, 0, 0, 1);
	width:988px;
	height:112px;
	position:absolute;
	left:83px;
	top:136px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
#36_145 {
	overflow:hidden;
}
#e36_145 {
	width:1150px;
	height:572px;
	position:absolute;
}
#e34_122 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1150px;
	height:572px;
	position:absolute;
	left:0px;
	top:0px;
}
#e34_123 {
	color:rgba(0, 0, 0, 1);
	width:1078px;
	height:109px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
#usernameText {
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:125px;
	top:167px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#passwordText {
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:125px;
	top:221px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#username {
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:42px;
	position:absolute;
	left:280px;
	top:167px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#password {
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:42px;
	position:absolute;
	left:280px;
	top:221px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#emailRegisterPage {
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:42px;
	position:absolute;
	left:380px;
	top:449px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#loginSubmit {
	width: 200px;
	height: 50px;
	position: absolute;
	left: 125px;
	top: 300px;
	text-align: center;
	font-size: 32px;
}
#8_78 {
	overflow:hidden;
}
#e8_78 {
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
#e34_115 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1150px;
	height:572px;
	position:absolute;
	left:65px;
	top:174px;
}
#e34_116 {
	color:rgba(0, 0, 0, 1);
	width:1078px;
	height:109px;
	position:absolute;
	left:97px;
	top:197px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
#usernameTextRegisterPage {
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:190px;
	top:341px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#passwordTextRegisterPage {
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:190px;
	top:395px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#emailTextRegisterPage {
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:42px;
	position:absolute;
	left:190px;
	top:449px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}

#usernameRegisterPage {
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:42px;
	position:absolute;
	left:380px;
	top:341px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
#passwordRegisterPage {
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:42px;
	position:absolute;
	left:380px;
	top:395px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}

#registerSubmit {
	width: 200px;
	height: 50px;
	position: absolute;
	left: 190px;
	top: 500px;
	text-align: center;
	font-size: 32px;
}

#e41_114 {
	width:1198px;
	height:62px;
	position:absolute;
	left:38px;
	top:29px;
}
#e41_115 {
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:30px;
	position:absolute;
	left:0px;
	top:17px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
#e41_116 {
	width:500px;
	height:60px;
	position:absolute;
	left:352px;
	top:0px;
}
#e41_117 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
#e41_118 {
	width:59px;
	height:59px;
	position:absolute;
	left:1139px;
	top:3px;
	background-image:url(../../images/profileimage.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e41_119 {
	width:39px;
	height:39px;
	position:absolute;
	left:792px;
	top:11px;
	background-image:url(../../images/searchiconimage.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.menuPopup {
	display: none;
	position: fixed;
	top: 10%;
	right: 10.5%;
	border: 3px solid #f1f1f1;
	z-index: 9;
}


