<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">
<div id=e8_79>
  <div id="e62_26"></div>
  <div id=e41_126><span  class="team1">Team 1</span>
    <div id=e41_128>
      <div id="e41_129"></div>
    </div>
    <div id="e41_130"></div>
    <div id="e41_131"></div>
  </div>
  <div id="e22_98"></div><span  id="e22_118" th:text="'Event Id: ' + ${eventID}"></span>
  <div id=e22_121>
    <div id="e22_119"></div><span  id="e22_120">Official Cofc</span>
  </div>
  <div id=e22_123>
    <div id="e22_124"></div><span  id="e22_125">Graduation</span>
  </div>
  <div id=e22_126>
    <div id="e22_127"></div><span  id="e22_128">Spring 2023</span>
  </div>
  <div id=e22_134>
    <div id="e22_129"></div><span  id="e22_130" th:text="'Price: $' + ${price}"></span>
    <div id="e22_132"></div><a  id="e22_133" th:href="@{/events/purchase/{eventId}(eventId=${eventID})}">Buy Now</a>
  </div>
  <div id=e22_115>
    <div id="e22_97"></div>
    <span  id="e22_100" th:text="${eventName}"></span>
    <span  id="e22_112" th:text="'Location: ' + ${location}"></span>
    <span  id="e22_113" th:text="${description}"></span>
    <span  id="e22_109" th:text="'Seats Left: ' + ${seatsLeft}"></span>
    <span  id="e22_107" th:text="'When: ' + ${date}"></span>
  </div>
</div>