<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">
<div id=e8_79>
  <div id="e62_26"></div>
  <div id=e41_126><span  id="e41_127">Team 1</span>
    <div id=e41_128>
      <div id="e41_129"></div>
    </div>
    <div id="e41_130"></div>
    <div id="e41_131"></div>
  </div>
  <div id="e22_98"></div><span  id="e22_118">Event Id: 354782457</span>
  <div id=e22_121>
    <div id="e22_119"></div><span  id="e22_120">Official Cofc</span>
  </div>
  <div id=e22_123>
    <div id="e22_124"></div><span  id="e22_125">Graduation</span>
  </div>
  <div id=e22_126>
    <div id="e22_127"></div><span  id="e22_128">Spring 2023</span>
  </div>
  <div id=e22_134>
    <div id="e22_129"></div><span  id="e22_130">Price: $20.00</span>
    <div id="e22_132"></div><span  id="e22_133">Buy Now</span>
  </div>
  <div id=e22_115>
    <div id="e22_97"></div><span  id="e22_100">College of Charleston Graduation</span><span  id="e22_110">Time: 12:00 PM</span><span  id="e22_112">Location: College of Charleston Cistern Yard</span><span  id="e22_113">College of Charleston graduation celebrates our student’s achievements through out their journey through our education system. Enjoy a nice 4 hours of sitting watching people move across a stage. Your seats will be cramped and you will die of heat as we hold the graduation ceremony near the begining of summer.</span><span  id="e22_109">Seats Left: 100</span><span  id="e22_107">When: 5/8/23</span>
  </div>
</div>