<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">
<div id=e60_12>
  <div id="e62_27"></div>
  <div id=e60_13><span  id="e60_14">Team 1</span>
    <div id=e60_15>
      <div id="e60_16"></div>
    </div>
    <div id="e60_17"></div>
    <div id="e60_18"></div>
  </div>
  <div id="e60_20"></div>
  <div id="e60_22"></div>
  <div id="e60_21"></div>
  <div id="e60_33"></div><span  id="e60_24">Price: $20.00</span><span  id="e60_25">Tax: $1.44</span><span  id="e60_26">Total: $21.44</span><span  id="e60_27">COFC Graduation</span><span  id="e60_29">When: 5/8/23
Location: Cistern
Seats Left: 100</span>
  <div id="e60_31"></div><span  id="e60_30">College of Charleston graduation celebrates our student’s achievements through out their journey through our education system. Enjoy a nice 4 hours of sitting watching people move across a stage. Your seats will be cramped and you will die of heat as we hold the graduation ceremony near the begining of summer.</span><span  id="e60_32">Event ID:  354782457</span><span  id="e60_34">CARD INFORMATION:
Cardholder Name
Card Number
EXP Date
CVV
Billing Address
City
State
County
Zip Code
</span><span  id="e60_53">595 King Street</span>
  <div id="e60_36"></div><span  id="e60_39">PURCHASE</span>
  <div id="e60_40"></div>
  <div id="e60_48"></div>
  <div id="e60_47"></div>
  <div id="e60_45"></div>
  <div id="e60_46"></div>
  <div id="e60_41"></div>
  <div id="e60_42"></div>
  <div id="e60_43"></div>
  <div id="e60_44"></div><span  id="e60_49">Edin Aleckovic</span><span  id="e60_50">XXXX XXXX XXXX XXXX</span><span  id="e60_55">Charleston</span><span  id="e60_56">SC</span><span  id="e60_57">Charleston</span><span  id="e60_58">29403</span><span  id="e60_52">* * *</span><span  id="e60_51">05/23</span>
</div>