<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">
<div id=e60_12>
  <div id="e62_27"></div>
  <div id=e60_13><span  id="e60_14">Team 1</span>
    <div id=e60_15>
      <div id="e60_16"></div>
    </div>
    <div id="e60_17"></div>
    <div id="e60_18"></div>
  </div>
  <div id="e60_20"></div>
  <div id="e60_22"></div>
  <div id="e60_21"></div>
  <div id="e60_33"></div><span  id="e60_24">Price: $20.00</span><span  id="e60_25">Tax: $1.44</span><span  id="e60_26">Total: $21.44</span><span  id="e60_27">COFC Graduation</span><span  id="e60_29">When: 5/8/23
Location: Cistern
Seats Left: 100</span>
  <div id="e60_31"></div>
  <span  id="e60_30">College of Charleston graduation celebrates our student’s achievements through out their journey through our education system. Enjoy a nice 4 hours of sitting watching people move across a stage. Your seats will be cramped and you will die of heat as we hold the graduation ceremony near the begining of summer.</span>
  <span  id="e60_32">Event ID:  354782457</span>
  <div id="e60_40"></div>
  <div id="e60_48"></div>
  <div id="e60_47"></div>
  <div id="e60_45"></div>
  <div id="e60_46"></div>
  <div id="e60_41"></div>
  <div id="e60_42"></div>
  <div id="e60_43"></div>
  <div id="e60_44"></div>
  <span  id="e60_34">CARD INFORMATION:</span>
  <label  class="purchaseLabels" for="e60_49">Cardholder Name</label>
  <input  type="text" name="cardHolder"  id="e60_49">
  <br>
  <label  class="purchaseLabels" for="e60_50">Card Number</label>
  <input  type="text" name="cardNumber" id="e60_50">
  <br>
  <label  class="purchaseLabels" for="e60_51">EXP Date</label>
  <input  type="text" name="expDate" id="e60_51">
  <br>
  <label  class="purchaseLabels" for="e60_52">CVV</label>
  <input  type="text" name="cvv" id="e60_52">
  <br>
  <label  class="purchaseLabels" for="e60_53">Billing Address</label>
  <input  id="e60_53" name="billingAddress" type="text">
  <br>
  <label  class="purchaseLabels" for="e60_55">City</label>
  <input  type="text" name="city" id="e60_55">
  <br>
  <label  class="purchaseLabels" for="e60_56">State</label>
  <input  type="text" name="state" id="e60_56">
  <br>
  <label  class="purchaseLabels" for="e60_57">Country</label>
  <input  type="text" name="country" id="e60_57">
  <br>
  <label  class="purchaseLabels" for="e60_58">Zip Code</label>
  <input  type="text" name="zipCode" id="e60_58">
  <br>
  <div id="e60_36"></div><span  id="e60_39">PURCHASE</span>

</div>