<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">
<div id=e62_12>
  <div id="e62_28"></div>
  <div id=e62_13><span  id="e62_14">Team 1</span>
    <div id=e62_15>
      <div id="e62_16"></div>
    </div>
    <div id="e62_17"></div>
    <div id="e62_18"></div>
  </div>
  <div id=e62_19>
    <div id="e62_20"></div><span  id="e62_21">Your purchase has been completed!
you will recive an email with your recibt momentarly </span>
  </div>
  <div id="e62_34"></div><span  id="e62_35">Return Home</span>
  <div id="e62_36"></div>
</div>