<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/registerAccount" method="post" id="registerForm">
    <label for="email">Email Address: </label>
    <input type="text" id="email" name="email"> <br>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password"><br>
    <input type="submit" value="Register">
</form>
</body>
</html>