<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">
<div id=e8_38>
  <div id="e62_32"></div>
  <div id=e41_108><span  id="e41_109">Team 1</span>
    <div id=e41_110>
      <div id="e41_111"></div>
    </div>
    <div id="e41_112"></div>
    <div id="e41_113"></div>
  </div>
  <div id="e29_87"></div>
  <div id="e29_88"></div><span  id="e29_113">Location: TD Arena</span><span  id="e29_89">Filter</span><span  id="e29_90">Events that match your search parameters:</span><span  id="e29_92">Official Cofc</span><span  id="e29_93">Graduation</span><span  id="e29_94">Spring 2023</span><span  id="e29_95">College of Charleston Graduation Spring 2023</span><span  id="e29_96">Cofc vs Chattanooga Basketball Game</span><span  id="e29_97">When: 5/7/23 at 12:00PM</span><span  id="e29_114">When: 11/6/22 at 6:00PM</span><span  id="e29_98">Location: College of Charleston Cistern Yard</span>
</div>