<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/styles/css/styles.css" th:href="@{/styles/css/styles.css}">

<script  th:inline="javascript">
  function openMenu() {
    const element = document.getElementById("menuPopup")
    if(element.style.display === "none") {
      element.style.display = "block";
    }
    else {
      element.style.display = "none";
    }
  }
</script>

<div id=e8_79>
  <div id=MenuBar>
    <span  id="Team1">Team 1</span>
    <div id=SearchBarWhole>
      <form method="get" action="/search">
        <div  id="SearchBar">
          <input type="text" name="searchTerm" id="searchBarInput">
        </div>
        <div  id="SearchImage">
          <button type="submit" name="searchButton" id="searchBarButton"></button>
        </div>
      </form>
    </div>
    <button  id="ProfileImage" class="profilePopup" th:onclick="openMenu()"></button>
    <div class="menuPopup" id="menuPopup">
      <a href="loginPage.html" th:href="@{http://localhost:8080/displayLoginPage}">Login</a><br>
      <a href="registerPage.html" th:href="@{http://localhost:8080/displayRegisterPage}">Register</a>
    </div>
  </div>
  <div id="e22_98"></div><span  id="e22_118" th:text="'Event Id: ' + ${eventID}"></span>
  <div id=e22_121>
    <div id="e22_119"></div><span  id="e22_120">Official Cofc</span>
  </div>
  <div id=e22_123>
    <div id="e22_124"></div><span  id="e22_125">Graduation</span>
  </div>
  <div id=e22_126>
    <div id="e22_127"></div><span  id="e22_128">Spring 2023</span>
  </div>
  <div id=e22_134>
    <div id="e22_129"></div><span  id="e22_130" th:text="'Price: $' + ${price}"></span>
    <div id="e22_132"></div><a  id="e22_133" th:href="@{/events/purchase/{eventId}(eventId=${eventID})}">Buy Now</a>
  </div>
  <div id=e22_115>
    <div id="e22_97"></div>
    <span  id="e22_100" th:text="${eventName}"></span>
    <span  id="e22_112" th:text="'Location: ' + ${location}"></span>
    <span  id="e22_113" th:text="${description}"></span>
    <span  id="e22_109" th:text="'Seats Left: ' + ${seatsLeft}"></span>
    <span  id="e22_107" th:text="'When: ' + ${date}"></span>
  </div>
</div>